<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap      
    PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"      
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="hobby">

	<select id="queryAllHobby" parameterClass="Map" resultClass="hobby">
		select * from hobby where userId=#userId# order by pid desc
		
		<isNotEmpty property="pageSize">
		    <isNotEmpty property="pageNo">
	   			LIMIT #pageNo#, #pageSize#
		    </isNotEmpty>
   		</isNotEmpty>
	</select>
	
	<select id="queryRowTotal" resultClass="Integer">
		select count(*) from hobby
	</select>
	
	<delete id="deleteHobby" parameterClass="Integer">
		delete from hobby where pid=#pid#
	</delete>
	
</sqlMap>
